@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.hero {
    background-image: url(../images/cow.jpg);
    background-size: cover;
    background-position: top center;
    height: 100vh;
}

.hero h1 {
    color: rgb(23, 65, 65);
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 400px;
}